<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="seedstarterlist" >

    <h2  >List of Seed Starters</h2>
    <a  th:href="@{formAddNew}" > Adding New</a>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>No</th>
            <th >Employee ID</th>

            <th >Employee Name</th>
            <th>Birthday</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="sb:${studentlist}">
            <td>
                <div class="d-flex align-items-center">

                    <div class="ms-3">
                        <p th:text="${{sb.stdName}}" />

                    </div>
                </div>
            </td>
            <td>
                <p class="fw-bold mb-1"  th:text="${{sb.employeeId}}" />
            </td>
            <td><p th:text="${{sb.employeeName}}" /></td>
            <td><p th:text="${{sb.birthday}}" /></td>
            <td><p th:text="${{sb.phoneNumber}}" /></td>
            <td><p th:text="${{sb.email}}" /></td>

            <td>
                <a  th:href="@{edit/{id}(id=${sb.stdId})}" > Edit <i class="fa-solid fa-pencil"></i>  </a>
                <br/>
                <a  th:href="@{del/{id}(id=${sb.stdId})}" > Remove <i class="fa-solid fa-trash"> </i> </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>