<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/addNewEmployee}">Add new</a>
<table>
    <thead>
    <th>employeeid</th>
    <th>employeeName</th>
    <th>birthday</th>
    <th>phoneNumber</th>
    <th>email</th>
    <th>actions</th>
    </thead>
    <tbody>
    <!--        <span th:text="${students}"></span>-->
    <tr th:each="employee:${employees}">
        <td th:text="${employee.employeeid}"></td>
        <td th:text="${employee.employeename}"></td>
        <td th:text="${employee.birthday}"></td>
        <td th:text="${employee.phonenumber}"></td>
        <td th:text="${employee.email}"></td>
        <td>
            <a class ="btn btn-secondary" th:href="@{/employee/update(employeeid=${employee.employeeid})}">Edit</a>
            <a class ="btn btn-secondary" th:href="@{/employee/delete(employeeid=${employee.employeeid})}"
               onclick="if (!(confirm('Are you sure you want to delete this student?'))) return false" >Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>